#country1

{

 border: 1px solid red;
 letter-spacing: 5px;
 text-align: center;
 color:white;
font-size:40px;
background-color: red;
}

#country2

{

 border: 1px solid red;
 letter-spacing: 5px;
 text-align: center;
 color:#553366;
font-size:40px;
background-color: brown;
}

#country3

{

 border: 1px solid red;
 letter-spacing: 5px;
 text-align: center;
 color:red;
font-size:40px;
background-color: blue;
}

#title
{
color:Pink;
margin:20;
font-size:40px;
text-align:center;

}

li

{
text-align: center;
 color:orange;
font-size:20px;
}

#hotels_img
{

width:650px;
height:350px;
 border-radius: 10px;
}

#main
{
margin-left:auto; 
margin-right:auto;
}

a:link, a:visited { 
    color: Red;
    text-decoration: overline;
    cursor: auto;
}

#home_icon
{
width:150px;
height:150px;
}

td

{
padding:30px

}

body
{
	background-image: url("../img/city.jpg");
	background-repeat: no;
}